@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
  font-family: 'Oswald', sans-serif;
  background-color: Pink;
  text-align: center;
}

button {
  font-family: 'Oswald', sans-serif;
}

em {
  color: red;
}

h4 {
  text-align: center;
}
/*
.all-top-blocks {
  background-color: pink;
}
*/
.block {
  display: inline-block;
  width: 30%;
  height: 10%;
}

.block-elements {
  vertical-align: top;
  display: inline-block;
  user-select: none;
  font-size: 26px;
  border-radius: 100%;
  width: 36px;
  height: 36px;
}

.time-change {
  background-color: Tomato;
}

.time-value {
  font-size: 20px;
}

#timerBlock {  
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
  border-radius: 100%;
  margin: auto;
  margin-top: 5%;
  text-align: center;
  width: 300px;
  height: 300px;  
  background-color: Tomato;
}

.timerBlockChild {  
  width: 200px;
  height: 100px;
}

#timerDisplay {
  font-size: 72px;
}
